<p id="notice"><%= notice %></p>

<h1 class="center">Produtos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Preço</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each_with_index do |product, index| 
      css_class = if(index.even?)
                    "normal-row"
                  else
                    "gray-row"
                  end
                  "centro"
    %>
      <tr class="<%= css_class %>">
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= link_to 'Mais', product %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
